<app-admin></app-admin>
<br><br><br>
<h3>Reservations:</h3>

<div >
  <table >
      <tr *ngFor="let reservation of AllReservations">
        <td align="1">
          <p class="p-table-home"> <i>Stauts: </i> {{reservation.Stauts}} , <i>Sing Up Date: </i> {{reservation.SingUpDate}} ,  
            <i>Number Of Nights :</i>{{reservation.NumberOfNights}}<i>, Total Price :</i>{{reservation.TotalPrice}},
            <i>Guest : </i>{{reservation.GuestUserName}},<i>Host : </i>{{reservation.HostUserName}}
            <br>
            <b>Apartment : </b>
            <br>
            {{reservation.ApartmentStreat}} {{reservation.ApartmentStreatNumber}},
            {{reservation.ApartmentSettlement}} {{reservation.ApartmentZipCode}}

          </p>           
        </td>               
      </tr>
  </table>
  
</div>
