<button (click) = "returnBack()"> Back</button>

<br><br>
<div >
    <table *ngIf="reservation">
        <tr>
          <td align="1" >
            <p class="p-table-home"> <i>Stauts: </i> {{reservation.Stauts}} , <i>Sing Up Date: </i> {{reservation.SingUpDate.split("T")[0]}} ,  
              <i>Number Of Nights :</i>{{reservation.NumberOfNights}}<i>, Total Price :</i>{{reservation.TotalPrice}},
               Host : {{reservation.HostUserName}}
              <br>
              <b>Apartment : </b>
              <br>
              {{reservation.ApartmentStreat}} {{reservation.ApartmentStreatNumber}},
              {{reservation.ApartmentSettlement}} {{reservation.ApartmentZipCode}}
  
            </p>           
          </td>               
        </tr>
    </table>   
  </div>

<br><br>
<h3>Leave comment: </h3>
<div>
  <form class="AddComment-form" [formGroup]="commentForm">
    <table >
      <tr>
        <td>
          <label>Comment: </label>
        </td>
        <td>          
          <textarea formControlName="comment" rows="10" cols="40"></textarea>
        </td>
      </tr>
      <tr>
        <br>
      </tr>
      <tr>
        <td>
          <label>Rate apartment(1 - 10): </label>
        </td>
        <td>         
          <input type="number"  formControlName="rate" min="1" max="10" required>
        </td>
      </tr>
      <tr>
        <br>
      </tr>  
      <tr>
        <td>
          <button (click)="onAddComment()" align="right" [disabled]="commentForm.invalid">Add comment</button>
        </td>
      </tr> 
    </table>
  </form>
</div>