<button (click) = "returnBack()"> < Back</button>
<div  class="normal-form">
  <form [formGroup]="editForm" >
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2>Selected apartment:</h2>
        </td>
      </tr>
      <tr>
        <td>
          Type:
        </td>
        <td>
          <input type="text" formControlName="Type" readonly>           
        </td>
      </tr>
      <tr>
        <td>
          Room Number:
        </td>
        <td>
          <input type="number" min=1 formControlName="RoomNumber" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Guest Number:
        </td>
        <td>
          <input type="number" min=1 formControlName="GuestNumber" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Price Per Night:
        </td>
        <td>
          <input type="number" formControlName="PricePerNight" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Sing Up Time:
        </td>
        <td>
          <input type="time" formControlName="SingUpTime" required readonly>          
        </td>
      </tr>
      <tr>
        <td>
          Sing Out Time:
        </td>
        <td>
          <input type="time" formControlName="SingOutTime" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Status:
        </td>
        <td>
          <input type="text" formControlName="Status" readonly>            
        </td>
      </tr>
      <tr>
        <td>
          Latitude:
        </td>
        <td>
          <input type="number" formControlName="Latitude" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Longitude:
        </td>
        <td>
          <input type="number" formControlName="Longitude" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Streat:
        </td>
        <td>
          <input type="text" formControlName="Streat" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Streat Number:
        </td>
        <td>
          <input type="number" formControlName="StreatNumber" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Settlement:
        </td>
        <td>
          <input type="text" formControlName="Settlement" required readonly>
        </td>
      </tr>
      <tr>
        <td>
          Zip Code:
        </td>
        <td>
          <input type="number" formControlName="ZipCode" required readonly>
        </td>
      </tr>            
    </table>
  </form>
</div>
<br>
<!--Pictures-->
<div style="overflow-x: scroll; height: 600px; width: 90%;">
    <table>
      <tr align="center">
        <b>Apartment pictures : </b>
      </tr>
      <tr>
        <td *ngFor="let picture of apartment.Pictures; let i = index">
          <img id="{{picture}}" src="{{picture}}" width="500px" height="500px"  />
        </td>
      </tr>
    </table>
  </div>

<!--Amenities-->
<div>
  <table >
    <tr>
      <td>
        Apartment Amenities:
      </td>
    </tr>
    <tr *ngFor="let amenitie of amNames">
      <td >
        <b>{{amenitie}}</b> ;  
      </td>
    </tr>
  </table>
</div>
<br>
<!--Map with location-->

<h4>Comments:</h4>
<!--Comments-->
<div>
  <table *ngFor="let comment of apartmentComments" class="comment-table">
    <tr>
      <td align="*">
        <p><b>{{comment.UserName}}: </b> <i> {{comment.Rate}}*   </i></p>  
        <p class="p-table-home">  {{comment.Text}} </p> 
      </td>      
    </tr>
    
  </table>
</div>

<!--Rent Dates-->
<br>
<h4>Rent Dates: </h4>

<form [formGroup]="rentDateForm" (ngSubmit)="RentDates()">
  <table>
    <tr>
      <td>
       <b>RENT DATE: </b>
      </td>
      <td align="2">
        <input type="date" formControlName="rentDate" required>
      </td>
      <td>
       <b>NUMBER OF DAYS: </b> 
      </td>
      <td>
        <input type="number" formControlName="rentDays" min="1" required>
      </td>
      <td >
        <button type="submit"  [disabled]="rentDateForm.invalid" >Send request </button>
      </td>
    </tr>
  </table>
</form>

<div>
  <table>
    <tr *ngFor="let rentDate of apartmentDates">
      <td align="2">
        <p><i> {{rentDate.CheckedDate.split('T')[0]}}; </i></p>
      </td>
    </tr>
  </table>
  </div>

  <div>
    <table  class="comment-table">
      <tr>
        <td align="*" >
            <b><i> Holidays :</i> </b>
        </td>
      </tr>
      <tr *ngFor="let holiday of holidays">
        <td align="*">
          <p>{{holiday.split(" ")[0]}}</p>
         
        </td>      
      </tr>     
    </table>
  </div>

  <br><br>
<app-map></app-map>