<app-guest></app-guest>
<br>
<!--Active-->
<h3>Active Apartments:</h3>

<div >
  <table >
      <tr *ngFor="let apartment of ActiveApartments">
        <td align="1">
          <p class="p-table-home"> <i>Apartment type:</i> {{apartment.Type}} , <i>Number of rooms:</i> {{apartment.RoomNumber}} ,  
            <i>Guest Number :</i>{{apartment.GuestNumber}}<i>, Price per nigth :</i>{{apartment.PricePerNight}},
            <i>Settlement :</i>{{apartment.Settlement}}

          </p>           
        </td>
        <td align="3">
            <img src="apartment.Pictures[0]" alt="No pictures available" height="100px" width="100px"/>
        </td>
        <td align="1">
          <button id="{{apartment.ID}}" (click)="moreDetails(apartment.ID)" >More details</button>
        </td>
      </tr>
  </table>
  
</div>
