<html>
<head>
    <title>AirBnb </title>
    <link rel="stylesheet" href="~/Content/LongInForm.css" />

</head>

<body>
    <h1>Wellcome to AirBnb</h1>
    <div @*class="container-login100"*@>
        <form>
            <table>
                <caption>Log in</caption>
                <tr>
                    <td>
                        <input type="text" placeholder="Email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="Password" />
                    </td>
                </tr>
            </table>
            <div @*class="container-login100-form-btn"*@>
                <button id="loginBtn" @*class="login100-form-btn"*@>
                    Login
                </button>
            </div>
        </form>

    </div>>
    <a href="#">Create your Account </a>



    <!-- Javascript -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Main.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>
