<p>Radi</p>
@*@section Scripts {
    <script type="text/javascript" src="~/dist/AirBnbAngular/runtime.js"></script>
    <script type="text/javascript" src="~/dist/AirBnbAngular/polyfills.js"></script>
    <script type="text/javascript" src="~/dist/AirBnbAngular/styles.js"></script>
    <script type="text/javascript" src="~/dist/AirBnbAngular/vendor.js"></script>
    <script type="text/javascript" src="~/dist/AirBnbAngular/main.js"></script>
}

<app-root></app-root>*@
