/* You can add global styles to this file, and also import other style files */

h1
{
    margin: 0 auto; 
    margin-top: 5%;
    width: 350px;
    color: black;
}
h3
{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
table {
    border: 2px solid black;
    border-spacing: 5px , 2px;
    width: 90%;
    border-collapse: separate;    
       
}
tr    {padding: 50px;}
button {
    background-color: #807f7f;
    color: white;
    border: 2px solid #555555;
    cursor: pointer;
  }
  button:hover {
      background-color: #000000c0 ;
      color: white;
  }
  


/* --------------------------------------------------------------------------------------------*/

.login-body {
    /* background-image: url("assets/ce-travel.jpg");   */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100%; 
    
  }

input[type=text]:focus,input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.comment-table
{
    background-color: rgb(201, 248, 250);
    width: 90%;
    padding-bottom: 1%;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.deletebtn {
    background-color: rgb(175, 34, 34);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.login-form
{
    margin: 0 auto; 
    margin-top: 10%;
    width: 250px;
}

.link-login-style
{
    
    color: dodgerblue;
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
